body {
    font-family: Arial, sans-serif;
    width: 500px;
    background-color: #e0e5ec;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border-radius: 5px;
    /* background-color: lightgray; */
    box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.2);
  }
  
  #user-button {
    background-color: #c30f42;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1em 1em;
    font-size: 0.9em;
    width: 70px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    transition: all 0.2s ease-in-out;
  }
#user-button:hover {
    cursor: pointer;
    opacity: 0.8;
}
  
  #login-button {
    background-color: #c30f42;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1em 1em;
    font-size: 0.9em;
    width: 70px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    transition: all 0.2s ease-in-out;
  }

#login-button:hover {
    cursor: pointer;
    opacity: 0.8;
}


  #logout-button {
    background-color: #c30f42;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1em 1em;
    font-size: 0.9em;
    width: 90px;
  }

  #logout-button {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    transition: all 0.2s ease-in-out;
}

#logout-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

#delete-account-button {
    background-color: #c30f42;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    font-size: 0.9em;
    width: 90px;
  }
  
#delete-account-button {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    transition: all 0.2s ease-in-out;
  }

#delete-account-button:hover {
    cursor: pointer;
    opacity: 0.8;
}


header img {
  display: block;
  margin: 0 auto;
  padding-top: 4px;
  height: 50px;
  margin-right: 10px;
}

.user {
  font-size: 1.2em;
  font-weight: bold;
}

.my-button {
  background-color: #c30f42;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 0.9em;
  width: 90px;
  margin-left: 1em;
}



  /* header img {
    height: 50px;
    margin-right: 10px;
  } */
  
  header .user {
    font-weight: 400;
    /* margin-left: 50px; */
    text-align: center;
    font-family: Andale Mono, monospace;
  }
  
  .container {
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
.flex {
    display: flex;
    align-items: center;
    padding: 20px;
    /* border: 1px solid gray; */
    border-radius: 10px;
    gap: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 20px 30px rgba(0, 0, 0, 0.18);
}
  
  .text-center {
    width: 30%;
    text-align: center;
    /* border: 1px solid gray; */
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .info {
    width: 70%;
    text-align: center;
    border-radius: 10px;
    padding-left: 10px;
    text-align: left;
    box-shadow: 0px 0px 2px 5px rgba(170, 157, 157, 0.2);
    /* box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.3), 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 20px 30px rgba(0, 0, 0, 0.18); */
  }

  
  .my-button {
    width: 80%;
    margin-bottom: 10px;
  }
  
  
  .switch {
    margin: 5px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 28px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  

/* options button: premium and sidebar */
button {
  margin: 3px;
}

.custom-btn {
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: Andale Mono, monospace;
  font-weight: 600;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-15 {
  background: #c30f42;
  border: none;
  z-index: 1;
}
.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #691f31;
  border-radius: 5px;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.7s ease;
}
.btn-15:hover {
  color: #fff;
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}