/* General styles */
* {
    padding: 5;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    width: 100%;
}

/* .write {
    display: none;
} */

h1 {
  position: relative;
  text-align: center;
  color: #c30f42;
  font-size: 20px;
  font-family: "Cormorant Garamond", serif;
}

/* .g-signin2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
} */

.btn-danger{
    width: 20%;
    position: absolute;
    top: 10%;
    left: 85%;
    margin-top: -50px;
    margin-left: -50px;
}

.write {
    text-align: center;
    height: auto;
    background-color:#e0e5ec;
}

/* Input textarea styles */
#original-text {
    width: 95%;
    height: 165px;
    padding: 10px;
    font-size: 1.5em;
    border: 1px solid lightgray;
    background-color: #f2f2f2;
    border-radius: 15px;
}

#corrected-text {
    width: 90%;
    height: 140px;
    padding: 10px;
    font-size: 1.5em;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    background-color: #f2f2f2;
    text-align: left;
    /* overflow-y: scroll; */
    resize: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
/* pointer-events: none; */
}


/* Tone change styles */
#tone-select {
    width: 50%;
    height: 35px;
    padding: 5px;
    font-size: 1em;
    margin-bottom: 5px;
    border-radius: 15px;
    font-family: 'Lato', sans-serif;
}

#toned-text {
    width: 90%;
    height: 120px;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 1.2em;
    border: 1px solid lightgray;
    background-color: #f2f2f2;
    text-align: left;
    border-radius: 15px;
    /* overflow-y: scroll; */
    resize: none;
    /* pointer-events: none; */
}


p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
}
.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}


button {
    margin: 10px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

/* 3 */

#correct-grammar-btn {
    width: 25%;
    height: 45px;
    color: #fff;
    background:  #c30f42;
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;

}

#correct-grammar-btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

#correct-grammar-btn:before,
#correct-grammar-btn:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    /* background: rgba(2,126,251,1); */
    background: #c30f42;
    transition: all 0.3s ease;
}

#correct-grammar-btn:before {
    height: 0%;
    width: 2px;
}

#correct-grammar-btn:after {
    width: 0%;
    height: 2px;
}

#correct-grammar-btn:hover{
    background: transparent;
    box-shadow: none;
}

#correct-grammar-btn:hover:before {
    height: 100%;
}

#correct-grammar-btn:hover:after {
    width: 100%;
}
#correct-grammar-btn span:hover{
    /* color: rgba(2,126,251,1); */
    color: #c30f42;
}

#correct-grammar-btn span:before,
#correct-grammar-btn span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    /* background: rgba(2,126,251,1); */
    background: #c30f42;
    transition: all 0.3s ease;
}

#correct-grammar-btn span:before {
    width: 2px;
    height: 0%;
}

#correct-grammar-btn span:after {
    width: 0%;
    height: 2px;
}

#correct-grammar-btn span:hover:before {
    height: 100%;
}

#correct-grammar-btn span:hover:after {
    width: 100%;
}
/* change-tone-btn */

#change-tone-btn {
    background:  #c30f42;
    /* background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%); */
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;

}
#change-tone-btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

#change-tone-btn:before,
#change-tone-btn:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background:  #c30f42;
    transition: all 0.3s ease;
}

#change-tone-btn:before {
    height: 0%;
    width: 2px;
}

#change-tone-btn:after {
    width: 0%;
    height: 2px;
}

#change-tone-btn:hover{
    background: transparent;
    box-shadow: none;
}

#change-tone-btn:hover:before {
    height: 100%;
}

#change-tone-btn:hover:after {
    width: 100%;
}
#change-tone-btn span:hover{
    color:  #c30f42;
}
#change-tone-btn span:before,
#change-tone-btn span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background:  #c30f42;
    transition: all 0.3s ease;
}

#change-tone-btn span:before {
    width: 2px;
    height: 0%;
}

#change-tone-btn span:after {
    width: 0%;
    height: 2px;
}

#change-tone-btn span:hover:before {
    height: 100%;
}

#change-tone-btn span:hover:after {
    width: 100%;
}