{% extends "templates/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    Register
                </div>
                <div class="card-body">
                    <p class="card-subtitle mb-2 text-muted">Already have an account, <a href="/login">sign in here</a>.
                        Or <a href="/">go home</a>.</p>

                    <form method="post" action="/register" id="register-form">
                        {{ form.csrf_token }}

                        <div class="form-group">
                            <input type="text" name="name" class="form-control" value="{{ form.data.name or '' }}"
                                placeholder="Name" pattern=".{1,64}" autofocus required>

                            {% if form.errors and 'name' in form.errors %}
                            <div class="form-errors" role="alert">{{ form.errors.name[0] }}</div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <input type="email" name="email" class="form-control" value="{{ form.data.email or '' }}"
                                placeholder="Email" pattern=".{1,64}" required>

                            {% if form.errors and 'email' in form.errors %}
                            <div class="form-errors" role="alert">{{ form.errors.email[0] }}</div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <input type="password" name="password" class="form-control" value="" placeholder="Password"
                                pattern=".{8,64}" title="Minimum length of 8 characters" required>

                            {% if form.errors and 'password' in form.errors %}
                            <div class="form-errors" role="alert">{{ form.errors.password[0] }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </form>
                    
                    <div class="field-group">
                        <div id="g_id_onload"
                              data-client_id="1081264112106-06vrkigqa5a8eh2n3u5p1ibq1fppcc5d.apps.googleusercontent.com"
                              data-context="signin"
                              data-ux_mode="popup"
                              data-callback="handleCredentialResponse"
                              data-auto_prompt="false">
                          </div>
                      
                          <div class="g_id_signin"
                              data-type="standard"
                              data-shape="pill"
                              data-theme="filled_blue"
                              data-text="signin_with"
                              data-size="large"
                              data-logo_alignment="left">
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function handleCredentialResponse(response) {
        // decodeJwtResponse() is a custom function
        // to decode the credential response.
        const responsePayload = decodeJwtResponse(response.credential);

        const userData = {
           // id: parseInt(responsePayload.sub, 10),
            email: responsePayload.email,
            givenName: responsePayload.given_name,
            familyName: responsePayload.family_name,
            imageUrl: responsePayload.picture,
            Email_verified: responsePayload.email_verified
        };

        $.ajax({
            type: "POST",
            url: "ui/forms/register_form.py",
            data: JSON.stringify(userData),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        });
    }
    function decodeJwtResponse(data) {
        var tokens = data.split(".");
        return JSON.parse(atob(tokens[1]));
    }
</script>
{% endblock %}