<!DOCTYPE html>
<html>
  <head>
    <title>Payment Dashboard</title>
  </head>
  <body>
    {% if not current_user %}
      <h2>Please log in to access the Premium subscription dashboard</h2>
      <form action="/login" method="get">
        <button type="submit">Login</button>
      </form>
    {% else %}
      <h2>Welcome to Premium Dashboard</h2>
      
      {% if current_user.account_status == "free" %}
        <p>You currently have no active subscriptions. Please select one from the ones avilable</p>
          
        <h3>Free trial or Premium</h3>
        <form action="/payment" method="post">
          <button type="submit" value="trial">View Premium Deals</button>
        </form>
      {% elif current_user.account_status == "trial" %}
        <p>You are currently on a trial plan.</p>
        <p>Trial starts on: {{ current_user.trial_start_date }}</p>
        <p>Trial ends on: {{ current_user.trial_end_date }}</p>
      {% elif current_user.account_status == "monthly" %}
        <p>You are currently subscribed to the $100 monthly plan.</p>
        <p>Subscription end date: {{ current_user.subscription_end_date }}</p>
        <!--<p>Your next payment of {{ current_user.monthly_charge }} will be charged on {{ current_user.next_payment_date }}.</p>-->
      {% elif current_user.account_status == "credits" %}
        <p>Credits Summary</p>
        <p>You have {{ current_user.credits }} credits.</p>
        <!--<p> Your last purchase was on {{ current_user.last_purchase_date }}.</p>-->
      {% endif %}
        <br>
        <form action="/logout" method="get">
          <button type="submit">Logout</button>
        </form>
        <br>
    {% endif %}
  </body>
</html>
