<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Success</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/narrow-jumbotron.css') }}" rel="stylesheet">
  </head>

  <body>
    <div class="message" id="message">
      {% if status == 'new' %}
      Your free trial has started.
      {% elif status == 'ongoing' %}
      Your free trial is ongoing.
      {% endif %}
    </div>
    <input type="hidden" id="session-id" name="session_id" value="{{ session_id }}" />
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('dashboard') }}">Home</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">AI Writer Extension</h3>
      </div>
      {% if status == "new" %}
      <div class="jumbotron">
        <h1 class="display-3">Your Free Trial is Activated</h1>
        <p class="lead">Enjoy our services!</p>
      </div>
      {% elif status == "ongoing" %}
      <div class="jumbotron">
        <h1 class="display-3">Your free trial is ongoing</h1>
        <p class="lead">Enjoy our services!</p>
      </div>
      {% else %}
      <div class="jumbotron">
        <h1 class="display-3">Your free trial has ended.</h1>
        <p class="lead"> Please upgrade to a premium account to continue using the system.</p>
      </div>
      {% endif %}
      <footer class="footer">
        <p>&copy; AI writer 2023</p>
      </footer>

    </div> <!-- /container -->
    <script src="{{ url_for('static', filename='js/script-ajax.js') }}"></script>

  </body>
</html>