
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="../static/css/login_style.css") }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://accounts.google.com/gsi/client" async defer></script>
  </head>
  <body>

    <section class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">

                <div class="mb-md-5 mt-md-4 pb-5">
                  <img class="logo" alt="Logo" src="../static/img/icon128.png"
                    />
                  <p class="text-white-50 mb-5">Please login via google!</p>

                  <!-- The google sign in -->
                  <div class="field-group" style="display: flex; justify-content: center; align-items: center;">
                    <div id="g_id_onload"
                      data-client_id="1081264112106-06vrkigqa5a8eh2n3u5p1ibq1fppcc5d.apps.googleusercontent.com"
                      data-context="signin"
                      data-ux_mode="popup"
                      data-callback="handleCredentialResponse"
                      data-auto_prompt="false">
                    </div>

                    <div class="g_id_signin"
                      data-type="standard"
                      data-shape="pill"
                      data-theme="filled_blue"
                      data-text="signin_with"
                      data-size="large"
                      data-logo_alignment="left">
                    </div>
                  </div>
                </div>
                <div>
                  <p class="mb-0">Don't have an account? <a href="{{ url_for('login') }}"
                      class="text-white-50 fw-bold">Sign Up</a>
                  </p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="{{ url_for('static', filename='../static/js/login.js') }}"></script>
  </body>
</html>
