.floating-button {
    position: fixed;
    bottom: 90px;
    right: 60px;
    width: 50px;
    height: 50px;
    background-color: #4CAF50;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    cursor: pointer;
    z-index: 99999;
}

.options {
    display: none;
    position: absolute;
    bottom: 40px;
    right: 40px;
    background-color: #4CAF50;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99999;
    transition: all 0.5s ease-in-out;
    border-radius: 30px;
}

.floating-button:hover .options {
    display: flex;
}

.floating-button:hover .options .option:hover {
    background-color: #3e8e41;
    cursor: pointer;
    border-radius: 50px;
} 